.navbar {
    padding-top: 0;
    padding-bottom: 0;
    transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in;
    z-index: 1;
    margin-left: 288px !important;
}
.container-fluid {
    position: absolute;
    margin-top: 90px;

}